* {
  outline: 1px solid hsla(0, 0%, 50%, 50%);
}

:root {
  box-sizing: border-box;
  height: 100vh;
  background: thistle;
}

body {
  margin: 0;

  background: white;
}

.v-stack {
  min-width: 0;
  min-height: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h-stack {
  min-width: 0;
  min-height: 0;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.v-spacer {
  height: 100vh;
  flex: 1 10000 auto;
}

.h-spacer {
  width: 100vw;
  flex: 1 10000 auto;
}

.view {
  box-sizing: border-box;
  padding: 16px;
  flex: none;
  background: seashell;
}

/* Positioning */
/* Display */
/* Colors */
/* Type */
/* Other */
