/* Reset */
body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  color: currentColor;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}
