:root {
  --color-orange: #ea5d39;
  --color-black: #0b1316;
  --color-gray: #f2f2f7;
  --color-purple: #261a31;
}

body {
  margin: 0;

  color: var(--color-gray);
  background-color: var(--color-purple);

  font-family: sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  perspective: 60em;
  transform-style: flat;
}

div {
  box-sizing: border-box;
  padding: 32px;
  height: 96px;
  width: 320px;
  margin-block-start: 56px;

  transform: rotateZ(2deg) rotateX(8deg) rotateY(7deg);

  color: var(--color-black);
  background-color: var(--color-gray);

  text-align: center;
}
