:root {
  box-sizing: border-box;
  border: 10px solid black;
  padding: 16px;
  height: 100vh;
  background: thistle;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

body {
  margin: 0;
  min-width: 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.v-stack {
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.h-stack {
  min-width: 0;
  display: flex;
  align-items: center;
  align-self: stretch;
}

.bla {
  height: 60px;
}

section {
  flex: none;
  padding: 16px;
  border: 1px solid black;
  background: seashell;
}

.v-spacer {
  height: 100vh;
  flex: auto;
}

.h-spacer {
  width: 100vw;
  flex: auto;
}

/* Positioning */
/* Display */
/* Colors */
/* Type */
/* Other */
