@font-face {
  font-family: 'Concourse T3';
  src: url('/fonts/concourse_t3_bold_italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #ef603b;
  background-color: #261a31;

  font-family: 'Concourse T3', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
}

main {
  position: relative;
  width: 30rem;
  height: 10rem;
}

aside {
  font-size: 0.75rem;
  opacity: 0.5;
}

.name {
  width: 100%;
  position: absolute;
  text-align: center;
  opacity: 0;
  filter: blur(4px) brightness(1.2);
  transition: filter 1.4s ease, opacity 1.4s ease;
}

.visible {
  opacity: 1;
  filter: blur(0) brightness(1);
}

@keyframes blur {
  0%,
  20% {
    filter: blur(0);
  }

  80%,
  100% {
    filter: blur(4px);
  }
}

@keyframes fade {
  0%,
  40% {
    opacity: 1;
  }

  70%,
  100% {
    opacity: 0;
  }
}
