@font-face {
  font-family: 'Concourse C6 Regular';
  src: url('/fonts/concourse_c6_regular.woff') format('woff');
}

:root {
  --golden-ratio: 1.618;
  --ratio: var(--golden-ratio);
  --scale-base: 1;
  --base-width: 64px;
  --scale-1: calc(var(--scale-base) * 1);
  --scale-2: calc(var(--scale-1) * var(--ratio));
  --scale-3: calc(var(--scale-2) * var(--ratio));
  --scale-4: calc(var(--scale-3) * var(--ratio));
  --scale-5: calc(var(--scale-4) * var(--ratio));
  --scale-6: calc(var(--scale-5) * var(--ratio));

  --rect-1-width: calc(var(--scale-1) * var(--base-width));
  --rect-2-width: calc(var(--scale-2) * var(--base-width));
  --rect-3-width: calc(var(--scale-3) * var(--base-width));
  --rect-4-width: calc(var(--scale-4) * var(--base-width));
  --rect-5-width: calc(var(--scale-5) * var(--base-width));
  --rect-6-width: calc(var(--scale-6) * var(--base-width));

  --rect-1-height: calc(0.75 * var(--rect-1-width));
  --rect-2-height: calc(0.75 * var(--rect-2-width));
  --rect-3-height: calc(0.75 * var(--rect-3-width));
  --rect-4-height: calc(0.75 * var(--rect-4-width));
  --rect-5-height: calc(0.75 * var(--rect-5-width));
  --rect-6-height: calc(0.75 * var(--rect-6-width));

  --rect-1-z-index: 1;
  --rect-2-z-index: 2;
  --rect-3-z-index: 3;
  --rect-4-z-index: 4;
  --rect-5-z-index: 5;
  --rect-6-z-index: 6;
}

body {
  margin: 0;

  color: white;
  /* background-image: url('../images/perspective-grid.jpg'); */
  background: #0d0c0c url('../images/noise.png');
  background-blend-mode: color-dodge;
  /* background-repeat: no-repeat; */
  /* background-position: center; */

  font-family: 'Concourse C6 Regular', sans-serif;
}

h1 {
  font-size: 6rem;

  text-align: center;
  text-transform: lowercase;

  filter: blur(2px);
}

main {
  display: grid;
  grid-template-columns: 1fr [content] repeat(20, var(--rect-1-width)) 1fr;
  grid-template-rows: repeat(16, var(--rect-1-height));
  perspective: 500px;
  transition: perspective 0.3s;
  /* transform-style: preserve-3d; */
}

main:hover {
  perspective: 2000px;
}

.scene-frame {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  opacity: 1;
  border: 4px solid greenyellow;
  /* transform: translateZ(var(--rect-4-translate-z)); */
}

@keyframes image-rotation {
  from {
    transform: rotateZ(-7deg) rotateY(8deg) rotateX(4deg);
  }

  to {
    transform: rotateZ(-3deg) rotateY(4deg) rotateX(0deg);
  }
}

img {
  box-sizing: border-box;
  width: 100%;
  border: 3px solid black;
  animation: image-rotation 10s linear infinite alternate;
  cursor: pointer;
}

img:hover {
  filter: hue-rotate(90deg);
}

img:nth-of-type(1) {
  grid-column: 13;
  grid-row: 3;
  width: var(--rect-5-width);
  height: var(--rect-5-height);
  z-index: var(--rect-5-z-index);
}

img:nth-of-type(2) {
  grid-column: 2;
  grid-row: 6;
  width: var(--rect-2-width);
  height: var(--rect-2-height);
  z-index: var(--rect-2-z-index);
}

img:nth-of-type(3) {
  grid-column: 3;
  grid-row: 7;
  width: var(--rect-3-width);
  height: var(--rect-3-height);
  z-index: var(--rect-3-z-index);
}

img:nth-of-type(4) {
  grid-column: 7;
  grid-row: 2;
  width: var(--rect-4-width);
  height: var(--rect-4-height);
  z-index: var(--rect-4-z-index);
}

img:nth-of-type(5) {
  grid-column: 6;
  grid-row: 12;
  width: var(--rect-2-width);
  height: var(--rect-2-height);
  z-index: var(--rect-2-z-index);
}

img:nth-of-type(6) {
  grid-column: 14;
  grid-row: 11;
  width: var(--rect-2-width);
  height: var(--rect-2-height);
  z-index: var(--rect-2-z-index);
}

img:nth-of-type(7) {
  grid-column: 3;
  grid-row: 4;
  width: var(--rect-1-width);
  height: var(--rect-1-height);
  z-index: var(--rect-1-z-index);
}

img:nth-of-type(8) {
  grid-column: 8;
  grid-row: 8;
  width: var(--rect-4-width);
  height: var(--rect-4-height);
  z-index: var(--rect-5-z-index);
}

img:nth-of-type(9) {
  grid-column: 16;
  grid-row: 1;
  width: var(--rect-2-width);
  height: var(--rect-2-height);
  z-index: var(--rect-2-z-index);
}

img:nth-of-type(10) {
  grid-column: 11;
  grid-row: 14;
  width: var(--rect-3-width);
  height: var(--rect-3-height);
  z-index: var(--rect-3-z-index);
}

img:nth-of-type(11) {
  grid-column: 17;
  grid-row: 12;
  width: var(--rect-4-width);
  height: var(--rect-4-height);
  z-index: var(--rect-4-z-index);
}

img:nth-of-type(12) {
  grid-column: 14;
  grid-row: 14;
  width: var(--rect-1-width);
  height: var(--rect-1-height);
  z-index: var(--rect-1-z-index);
}

img:nth-of-type(13) {
  grid-column: 3;
  grid-row: 11;
  width: var(--rect-4-width);
  height: var(--rect-4-height);
  z-index: var(--rect-4-z-index);
}

img:nth-of-type(14) {
  grid-column: 10;
  grid-row: 5;
  width: var(--rect-2-width);
  height: var(--rect-2-height);
  z-index: var(--rect-2-z-index);
}

img:nth-of-type(15) {
  grid-column: 4;
  grid-row: 1;
  width: var(--rect-3-width);
  height: var(--rect-3-height);
  z-index: var(--rect-3-z-index);
}

img:nth-of-type(16) {
  grid-column: 7;
  grid-row: 6;
  width: var(--rect-2-width);
  height: var(--rect-2-height);
  z-index: var(--rect-2-z-index);
}
