body {
  margin: 0;
}

p {
  width: 300px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/* Positioning */
/* Display */
/* Colors */
/* Type */
/* Other */
