@font-face {
  font-family: 'Digital Dismay';
  src: url('DigitalDismay-VAKw.ttf');
}

:root {
  padding: 80px;
  background-color: #333;
}

body {
  margin: 0;
  background-color: burlywood;

  display: grid;
  grid-template-columns: [start] 57px [display-start] 206px [display-end] 57px [end];
  grid-template-rows: [start] 104px [display-start] 96px [display-end] 86px [end];
}

.face {
  grid-column: start / end;
  grid-row: start / end;
}

.display {
  width: 100%;
  height: 100%;
  grid-column: display-start / display-end;
  grid-row: display-start / display-end;

  display: grid;
  grid-template-columns:
    [lcd-start]
    16px
    [alarm1-start] 41px [alarm1-end]
    11px
    [alarm2-start] 40px [alarm2-end]
    12px
    [chime-start] 28px [chime-end]
    11px
    [stopwatch-start] 41px [stopwatch-end]
    6px
    [lcd-end];
  grid-template-rows: 3px [icons-start] 30px [icons-end] 3px [lcd-start] 60px [lcd-end];
  align-items: center;
}

.alarm1,
.alarm2,
.chime,
.stopwatch {
  grid-row: icons-start / icons-end;
}

.alarm1 {
  grid-column: alarm1-start / alarm1-end;
}

.alarm2 {
  grid-column: alarm2-start / alarm2-end;
}

.chime {
  grid-column: chime-start / chime-end;
}

.stopwatch {
  grid-column: stopwatch-start / stopwatch-end;
}

.display-lcd {
  grid-column: lcd-start / lcd-end;
  grid-row: lcd-start / lcd-end;
  display: grid;
  grid-template-columns:
    9px
    [digits1-start] 63px [digits1-end
    prime-start colon-start period-start] 13px [prime-end colon-end period-end
    digits2-start] 63px [digits2-end
    double-prime-start] 5px [double-prime-end
    am-start pm-start digits3-start] 46px [am-end pm-end]
    7px [digits3-end];
  grid-template-rows:
    5px
    [primes-start] 4px
    [digits1-start digits2-start am-start pm-start] 13px [primes-end am-end pm-end
    colon-start period-start digits3-start] 32px [colon-end period-end digits1-end digits2-end digits3-end]
    6px;
}

.colon {
  grid-column: colon-start / colon-end;
  grid-row: colon-start / colon-end;
}

.period {
  grid-column: period-start / period-end;
  grid-row: period-start / period-end;
  align-self: end;
}

.prime {
  grid-column: prime-start / prime-end;
  grid-row: primes-start / primes-end;
}

.double-prime {
  grid-column: double-prime-start / double-prime-end;
  grid-row: primes-start / primes-end;
}

.am {
  grid-column: am-start / am-end;
  grid-row: am-start / am-end;
}

.pm {
  grid-column: pm-start / pm-end;
  grid-row: pm-start / pm-end;
  justify-self: end;
}

.digits1,
.digits2,
.digits3 {
  font-family: 'Digital Dismay', sans-serif;
  line-height: 0.64;
  letter-spacing: 2.94px;
  align-self: end;
}

.digits1,
.digits2 {
  font-size: 66px;
}

.digits1 {
  grid-column: digits1-start / digits1-end;
  grid-row: digits1-start / digits1-end;
}

.digits2 {
  grid-column: digits2-start / digits2-end;
  grid-row: digits2-start / digits2-end;
}

.digits3 {
  padding-right: 3px;
  font-size: 42px;
  grid-column: digits3-start / digits3-end;
  grid-row: digits3-start / digits3-end;
  justify-self: end;
}

.digits1-text {
  vertical-align: bottom;
}

/* Positioning */
/* Display */
/* Colors */
/* Type */
/* Other */
