:root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #111;
}

body {
  perspective: 70em;

  width: 466px;
  height: 306px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.05);
}

.logo {
  position: relative;
  width: 100%;
  height: 100%;
  animation: spin 20s linear infinite;
  transform-style: preserve-3d;
}

img {
  position: absolute;
}

.letter {
  --width: 221px;
  --height: 121px;
  left: 50%;
  top: 50%;
  margin-left: calc(var(--width) / -2 * 1.3);
  margin-top: calc(var(--height) / -2);
  width: var(--width);
  height: var(--height);
}

.orbit {
  --size: 190px;
  --margin: calc(var(--size) / -2);
  left: 50%;
  top: 50%;
  margin-left: var(--margin);
  margin-top: var(--margin);
  width: var(--size);
  height: var(--size);
  transform: rotateY(50deg) rotateX(50deg);
  opacity: 1;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}
