* {
  /* outline: 1px solid hsla(0, 0%, 50%, 50%); */
}

:root {
  height: 100vh;
  background: thistle;
}

body {
  margin: 0;
  height: 100%;
  /* background: white; */
}

.container {
  width: 800px;
  height: 300px;
  background: white;
}

.container.two {
  width: 800px;
  height: 300px;
  background: white;
  display: grid;
  grid-auto-rows: min(max-content, auto);
  grid-auto-columns: min(max-content, auto);
  place-content: center;
}

.v-stack {
  /* height: 100%; */
  min-width: 0;
  min-height: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: var(--h-stack-alignment, center);
  align-items: var(--v-stack-alignment, center);
}

.h-stack {
  min-width: 0;
  min-height: 0;
  align-self: stretch;
  display: flex;
  justify-content: var(--v-stack-alignment, center);
  align-items: var(--h-stack-alignment, center);
}

.v-stack > .v-stack,
.h-stack > .h-stack {
  display: contents;
}

.v-spacer {
  height: 100vh;
  flex: 1 1000 auto;
}

.h-spacer {
  width: 100vw;
  flex: 1 1000 auto;
}

.view {
  box-sizing: border-box;
  flex: none;
  background: seashell;
  opacity: 0.5;
}

.view.a {
  padding: 12px 16px;
}
.view.b {
  padding: 4px 32px;
}
.view.c {
  padding: 16px 8px;
}

/* Positioning */
/* Display */
/* Colors */
/* Type */
/* Other */
