body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: thistle;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  /* box-sizing: border-box; */
  position: relative;

  --main-width: 40rem;
  width: var(--main-width);
  height: calc(var(--main-width) * 0.5625);
  /* padding: 1rem; */

  background-color: white;
}

img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
}

video {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
}
