* {
  outline: 1px solid hsla(0, 0%, 50%, 50%);
  /* opacity: 0.8; */
}

:root {
  height: 100vh;
  background: black;
}

body {
  margin: 0;
  height: 100%;
}

.hermione {
  --stack-item-flex: 1 10000 auto;
  min-width: 50px;
  min-height: 50px;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  align-self: stretch;
  object-fit: cover;
  object-position: center 10%;
}

.preview {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 17px;
  overflow: hidden;
  display: grid;
  place-content: center;
}

.component-container {
  display: contents;
}

.stack {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
  display: grid;
}

.vertical.stack {
  grid-auto-rows: minmax(0, max-content);
  justify-content: var(--h-stack-alignment, center);
  align-items: var(--v-stack-alignment, center);
}

.horizontal.stack {
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, max-content);
  justify-content: var(--v-stack-alignment, center);
  align-items: var(--h-stack-alignment, center);
}

.vertical.stack > .vertical.stack,
.horizontal.stack > .horizontal.stack {
  /* display: contents; */
}

.spacer {
  /* flex: 1 10000 auto; */
}

.vertical.spacer {
  height: 100vh;
}

.horizontal.spacer {
  min-width: 0;
  width: 100vw;
  max-width: 100%;
}

/* .horizontal.spacer::after {
  content: 'hey';
} */

.stack *:not(.spacer) {
  flex: var(--stack-item-flex);
}
