:root {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
}

.preview {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  background: white;
}

.depth.stack {
  height: 100%;
  display: grid;
  place-items: var(--z-stack-alignment, center);
}

.depth.view {
  grid-area: 1 / 1 / 2 / 2;
  background: hsla(0, 10%, 50%, 20%);
}

.view.a {
  padding: 100px 12px 8px 24px;
}

.view.b {
  padding: 2px 50px 4px 80px;
}

.view.c {
  padding: 30px 30px 2px 2px;
}

/* Positioning */
/* Display */
/* Colors */
/* Type */
/* Other */
